{% extends "base_admin.html.twig" %}

{% block title %}
    BlogSymfony | Gestion des commentaires
{% endblock %}

{% block body %}
    <h1 class= "text-center">Liste des commentaires</h1>
{% endblock %}