{% extends "base_admin.html.twig" %}

{% block title %}
    BlogSymfony | Modification utilisateurs
{% endblock %}

{% block body %}

<h1 class="text-center my-5"> Modification utilisateurs</h1>
    
{% endblock %}